$font-serif: var(--font-primary-serif);

$bg: #282828;
$fg0: #fbf1c7;
$fg1: #d5c4a1;

* {
  font-family: $font-serif;
}

body {
  background-color: $bg;
  color: $fg0;

  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;

  flex: 1;
  width: 100%;
}

h1 {
  font-size: 4.375em;
  margin: 1rem;
}
